@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #ffffff;
        --foreground: #000;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: "Dosis", sans-serif;
    background-size: cover;
    background-repeat: no-repeat;

}
