.button {
  font-weight: bold;
  text-transform: uppercase;
  text-wrap: nowrap;
}

.buttonCenter {
  align-content: center;
  text-align: center;
  background-image: url('/img/buttoncenter.png');
  background-repeat: repeat-x;
  background-size: contain;
}
