.button {
  font-weight: bold;
  height: 6em;
  text-transform: uppercase;
  text-wrap: nowrap;
}

.buttonCenter {
  align-content: center;
  height: 6em;
  text-align: center;
  background-image: url('/img/buttoncenter.png');
  background-repeat: repeat-x;
  background-size: contain;
}

.button:before {
  width: 3em;
  height: 6em;
  content: ' ';
  background-image: url('/img/buttonleft.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.button:after {
  width: 3em;
  height: 6em;
  content: ' ';
  background-image: url('/img/buttonright.png');
  background-repeat: no-repeat;
  background-size: contain;
}

